*~
*.vo
*.v.d
*.glob
*kate-swp
*.aux
*.bbl
*.bc
*.blg
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.dot
*.exe
*.hi
*.hp
*.ll
*.log
*.o
*.out
*.prof
*.status
*.swp
*.thm
.DS_Store

solver/dist
solver/cabal-dev
solver/.hpc
solver/.hsenv
solver/.cabal-sandbox/
solver/.stack-work/
solver/cabal.sandbox.config
solver/test/cases/*.ctr
