*~
*.glob
*.aux
*.bbl
*.bc
*.blg
*.dylib
*.dyn_o
*.dyn_hi
*.dot
*.exe
*.hi
*.hp
*.ll
*.log
*.o
*.out
*.prof
*.status
*.swp
*.thm
*.cstr
.DS_Store

# Qt Creator project files
*.creator
*.creator.user
*.config
*.files
*.includes

# CMake stuff
*CMakeCache.txt
*CMakeFiles
*cmake_install.cmake
*Makefile

# The test file! ;-)
test.c
test.c.ctr
test.c.cstr
test.c.gen.h
test_fixed.c
test_gen.h

solver/dist
solver/cabal-dev
solver/.hpc
solver/.hsenv
solver/.cabal-sandbox/
solver/.stack-work/
solver/cabal.sandbox.config
solver/test/cases/*.ctr
solver/test/cases/*.cstr
solver/test/cases/*.fixed.c
solver/test/cases/*.gen.h
solver/test/cases/*_fixed.c
solver/test/cases/*_gen.h