*~
*.vo
*.v.d
*.glob
*kate-swp
*.aux
*.bbl
*.bc
*.blg
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.dot
*.exe
*.hi
*.hp
*.ll
*.log
*.o
*.out
*.prof
*.status
*.swp
*.thm

# Qt Creator project files
*.creator
*.creator.user
*.config
*.files
*.includes

.DS_Store

# The test file! ;-)
test.c
test.c.ctr
test.c.gen.h

solver/dist
solver/cabal-dev
solver/.hpc
solver/.hsenv
solver/.cabal-sandbox/
solver/.stack-work/
solver/cabal.sandbox.config
solver/test/cases/*.ctr
